<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/SmartGymSales</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SmartGymMenEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SmartGymSales.Models.SmartGymMen.SmartGymMenEntities, SmartGymSales" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SmartGymSalesEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SmartGymSales.Models.SmartGymSalesEntities, SmartGymSales" MigrationConfiguration="SmartGymSales.Migrations.Configuration, SmartGymSales" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SmatGymWomenEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ESLAMPC\SQLEXPRESS;Initial Catalog=smartgym1;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SmatGymWomenEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.WomenDb.csdl|res://*/Models.WomenDb.ssdl|res://*/Models.WomenDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ESLAMPC\SQLEXPRESS;initial catalog=smartgym1;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartGymMenEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmartGymSalesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SmatGymWomenEntities-Web.config Connection String" />
  </ItemGroup>
</Project>